In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for num in range(10,20):
    print(num,end=' ')

10 11 12 13 14 15 16 17 18 19

In [21]:
Num=(10,20,14,55,43,87,76)
print("Number of item in list2 :")
len(Num)

Number of item in list2 :

7

In [20]:
Num=(10,20,14,55,43,87,76)
print("Number of item in list2 :")
x=len(Num)
print(x)

Number of item in list2 :
7

In [8]:
This_string="Artificial Intelligence"
for character_index in This_string:
    print(character_index)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [15]:
print("Artificial Intelligence")
for x in "Artifical Intelligence":
    print(x)

Artificial Intelligence
A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [21]:
print("SARGUNAVADIVEL")
print("43")
print("Mechanical Engineer")

SARGUNAVADIVEL
43
Mechanical Engineer

In [17]:
Tuple1=(1,'Welcome',2,'Hope')
print("\nTuple with Mixed Datatypes: ")
print(Tuple1)

Tuple with Mixed Datatypes:
(1, 'Welcome', 2, 'Hope')

In [18]:
Tuple1=(0, 1, 2, 3)
Tuple2=('python', 'HOPE')
Tuple3=(Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'HOPE'))

In [10]:
lists1=[20,10,16,19,25,1,276,188]

In [15]:
for num in lists1:
    if(num%2)==1:
         print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [18]:
lists2=[20,10,16,19,25,1,276,188]

In [19]:
for num in lists2:
    if(num%2)==0:
         print(num,"is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even